/* the order of the styles is this

1- dimensions
2- fonts (if need)
3- style (colors)
4- transicions (if need)

*/

header{
    height: 50px;
    position: fixed;
    margin-top: -50px;
    z-index: 10;

    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.slogan{
    width: 300px;
    height: 50px;
}

.slogan a{
    display: block;
    padding: 10px;
    width: 175px;
    font-size: 2em;
    text-decoration: none;

    color: orange;
}

.nav_menu{
    width: 500px;
    height: 50px;

    display: flex;
    justify-content: flex-end;
}

.nav_menu a{
    display: block;
    padding: 5px 10px;
    margin: 15px 3px;

    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;

    color: #000;

    transition: .2s;
}

.nav_menu a:hover{
    color: orange;
}

                /* section and all containers */

.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.cnt1{
    background-color: aqua;
    margin-top: 50px;
}

.cnt2{
    background-color: blue;
}

.cnt3{
    background-color: aquamarine;
}

#div1{
    border: 1px solid;
    height: 600px;
}